{% extends "parent.html" %}
{% load static %}

{% block title %}Professors Management{% endblock %}

{% block main %}
    <div class="border-2 border-orange-300 rounded-lg p-2">
        <p class="text-center">Search Professor</p>
        <form class="flex flex-col mt-4 items-center" action="/professors-search/" method="GET">{% csrf_token %}
            <div class="mb-3 flex items-center self-start w-full">
                <label for="formGroupExampleInput" class="mr-2 w-1/4">Professor: </label>
                <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="search" name= "search" placeholder="Name, Last Name, Email">
            </div>
            <input type="submit" value="Search" class="cursor-pointer hover:text-orange-300">
        </form>
    </div>

    <div class="flex items-center justify-center">
        <a class="bg-zinc-50 hover:bg-orange-100 transition border-2 border-orange-300 py-1 px-3 rounded-lg" href="{% url 'professors' %}">Show All</a>
    </div>
  
    {% if request.user.is_superuser %}
    <div class="border-2 border-orange-300 rounded-lg p-2">
      <p class="text-center">Add new Professor</p>
      <form class="flex flex-col mt-4 items-center" action="/professors-form/" method = "POST"> {% csrf_token %}
          <div class="mb-3 flex items-center self-start w-full">
              <label for="formGroupExampleInput" class="mr-2 w-1/4">Name: </label>
              <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="first_name" name="first_name" placeholder="Rick">
          </div>
          <div class="mb-3 flex items-center self-start w-full">
              <label for="formGroupExampleInput" class="mr-2 w-1/4">Last Name: </label>
              <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="last_name" name="last_name" placeholder="Sanchez">
          </div>
          <div class="mb-3 flex items-center self-start w-full">
              <label for="exampleInputEmail1" class="mr-2 w-1/4">Email: </label>
              <input type="email" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="email" name="email" placeholder="heymorty@gmail.com" aria-describedby="emailHelp">
          </div>
          <input type="submit" value="Add" class="cursor-pointer hover:text-orange-300">
      </form>
    </div>
    {% endif %}

{% endblock %}