{% extends "parent.html" %}
{% load static %}
{% block courses_form %}

{% if form.errors %}
    <p class="text-red-500">Datos cargados erroneamente</p>
{% endif %}

    <div class="border-2 border-orange-300 rounded-lg p-2">
        <p class="text-center">Search Course</p>
        <form class="flex flex-col mt-4 items-center" action="/courses_search/" method="GET">{% csrf_token %}
            <div class="mb-3 flex items-center self-start w-full">
                <label for="formGroupExampleInput" class="mr-2 w-1/4">Student: </label>
                <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="search" name= "search" placeholder="Course name or id">
            </div>
            <input type="submit" value="Search" class="cursor-pointer hover:text-orange-300">
        </form>
    </div>

    <div class="border-2 border-orange-300 rounded-lg p-2">
        <p class="text-center">Add new Course</p>
        <form class="flex flex-col mt-4 items-center" action="/courses_form/" method = "POST"> {% csrf_token %}
            <div class="mb-3 flex items-center self-start w-full">
                <label for="formGroupExampleInput" class="mr-2 w-1/4">ID: </label>
                <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="course_id" name="course_id" placeholder="Course ID">
            </div>
            <div class="mb-3 flex items-center self-start w-full">
                <label for="formGroupExampleInput" class="mr-2 w-1/4">Type: </label>
                <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="course_type" name="course_type" placeholder="Course type">
            </div>
            <input type="submit" value="Create" class="cursor-pointer hover:text-orange-300">
        </form>
      </div>

{% endblock %}