{% extends "parent.html" %}
{% load static %}
{% block professors_search %}
{% if error %}
    <div class="row">
        <p style="color:red">{{error}}</p>
    </div>
{% endif %}

{% if search %}
    <div class="row mt-2 d-flex justify-content-center">
        <h4 style="text-align: center;">Resultados de Busqueda</h4>
    </div>
    {% for data in search %}

    <div class="alert alert-light" role="alert">
        <div class="row d-flex justify-content-center">
            Nombre: {{data.first_name}}
        </div>
        <div class="row d-flex justify-content-center">
            Apellido: {{data.last_name}}
        </div>
        <div class="row d-flex justify-content-center">
            Email: {{data.email}}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}