{% extends "parent.html" %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block main %}
    {% comment %} <div class="border-2 border-orange-300 rounded-lg p-2">
        <p class="text-center">Search Professor</p>
        <form class="flex flex-col mt-4 items-center" action="/professors_search/" method="GET">{% csrf_token %}
            <div class="mb-3 flex items-center self-start w-full">
                <label for="formGroupExampleInput" class="mr-2 w-1/4">Professor: </label>
                <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="search" name= "search" placeholder="Name, Last Name, Email">
            </div>
            <input type="submit" value="Search" class="cursor-pointer hover:text-orange-300">
        </form>
    </div>

    <div class="flex items-center justify-center">
        <a class="bg-zinc-50 hover:bg-orange-100 transition border-2 border-orange-300 py-1 px-3 rounded-lg" href="{% url 'professors' %}">Show All</a>
    </div> {% endcomment %}
  
    <div class="border-2 border-orange-300 rounded-lg p-2">
      <p class="text-center">Send Message</p>
      <form class="flex flex-col mt-4 items-center" action="/comunications_form/" method = "POST"> {% csrf_token %}
          <div class="mb-3 flex items-center self-start w-full">
              <label for="formGroupExampleInput" class="mr-2 w-1/4">User Name: </label>
              <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="message_name" name="message_name" value={{request.user.username}}>
          </div>
          <div class="mb-3 flex items-center self-start w-full">
              <label for="formGroupExampleInput" class="mr-2 w-1/4">Message: </label>
              <input type="text" class="border-2 border-gray-300 rounded-lg pb-1.5 pt-1 px-2 h-[2.2rem] w-full" id="message" name="message" placeholder="Message">
          </div>
          <input type="submit" value="Send" class="cursor-pointer hover:text-orange-300">
      </form>
    </div>

    <div class="flex justify-center w-full">
        <a class="bg-zinc-50 hover:bg-orange-100 transition border-2 border-orange-300 py-1 px-3 rounded-lg" href="/comunications/">Show All Messages</a>
    </div>

{% endblock %}