{% extends 'parent.html' %}

{% load static %}

{% block title %} Profile Update {% endblock title %}

{% block main %}
    <div class="flex flex-col w-full items-center justify-center">
        <div class="text-center text-xl mb-2">
            {{user.first_name}} {{user.last_name}}
        </div>
        <img src={{ avatar.url }} class="w-[200px] rounded-2xl"/>
    </div>
    <form method="POST" class="m-2 space-y-4 [&_p]:space-y-4 [&_input]:border-2 [&_input]:rounded-lg [&_input]:ml-2 [&_input]:pl-2" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="!ml-0 bg-zinc-50 hover:bg-orange-100 transition border-2 border-orange-300 py-1 px-3 rounded-lg">
    </form>
{% endblock main %}