<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pre Entrega 3 Python</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="flex flex-col h-screen w-screen items-center justify-center">
    <p class="text-5xl mb-8">Page "{{ error_url }}" not found</p>
    <a class="bg-zinc-50 hover:bg-orange-100 transition border-2 border-orange-300 py-1 px-3 rounded-lg" href="{% url 'index' %}">Go back to Home</a>
  </body>
</html>